@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "modules/header";
html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {box-sizing: border-box;}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666;
  font-size: 14px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666666;
  font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666666;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.wrapper {
  background-image: linear-gradient(90deg, #077db9 0%, #152041 100%);
}

.text-big {
  font-size: 20px;
}

.btn-custom {
  background-color: $default-color;
}

.brd-left::before {
  content: "";
  width: 1px;
  position: absolute;
  background-color: rgba(32, 46, 88, 1);
  top:-7px;
  height: 135%;
  left: -10px;
}


.brd-left {
  position: relative;

  &--custom::before {
    left:0;
  }
}


.badge-icon {
  position: absolute;
  top:6px;
  right: 8px;
}

.navigation {
  border-radius: 4px;
  filter: drop-shadow(0px 3px 0px rgba(0,26,40,0.29));
  background-image: linear-gradient(0deg, #1b8bc5 0%, #2cb2f8 100%);
}

.search {
  border-radius: 4px;
  background-image: linear-gradient(0deg, #ffffff 0%, #ececec 100%);
}

.search__input {
  background-color: transparent;
}

.btn-border-left {
  position: relative;
  @include customize-before(#d1d1d1, 0,0,unset,unset,1px, 100%);
}

.input-border-left {
  position: relative;
  @include customize-before( rgba(6, 93, 139,0.5), 0,0,unset,unset,1px, 100%);
}

.search__button {
  border-radius: 4px;
  filter: drop-shadow(0px 2px 0px rgba(0,26,40,0.29));
  background-image: url("../img/search.png"),linear-gradient(0deg, #e8c507 0%, #f9dd13 100%);
  background-position: 10% center;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 17px;
  color: #993300;
}


.brd-bottom {
  position: relative;
  @include customize-before( rgba(255, 255, 255,0.1), unset,unset,unset,0px,100%,1px);
}

.category {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  background-color: #ffffff;
  &:hover {
    background-color: #096ca2;
  }
}

.category:hover .category__name {
  color: white;
}

.category:hover .category__count {
  color: #f7dc13;
}

.category__count {
  font-size: 11px;
  color:#acacac;
}

.category__name {
  font-size: 14px;
  color: #000000;
}

.category__wrapper {
  overflow: auto;
  max-height: 460px;

}

.category__main {
  border-top: 12px solid #f3ea22;
  position: absolute;
  top: 100px;
  z-index: 1000;
  background-color: white;

}

.hidden {
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: none;
  position: absolute;
  bottom: -25px;
  border-bottom: 10px solid #f3ea22;
}

.arrow-decoration {
  width: 0;
  height: 0;

  position: absolute;
  border-bottom: 373px solid #fff;
  &--left {
    border-left: 74px solid rgba(0,0,0,0);
    border-right: 15px solid transparent;
    bottom: 0;
    left: -74px;
  }

  &--rigth {
    border-left: 74px solid rgba(0,0,0,0);
    right: -74px;
    bottom:0;
    transform: rotate(180deg);
  }
}
.category__link:hover .arrow-up {
  display: block;
}

.slick-list {
  padding-top: 20px;

  padding-bottom: 30px;
}


.slider {

  background-size: 62%;
  background-repeat: no-repeat;
  background-color: #0ca563;
  border-radius: 24px;
  background-position: left -50px;
  box-shadow: 1px 10px 30px -20px rgba(0,0,0,.75);

  min-height: 373px;


  &--1 {
    background-image: url("../../assets/img/slider-1.png");
  }

  &--2 {
    background-image: url("../../assets/img/slider-2.png");
    background-position: -130px center;
  }

  &__time {
    border-radius: 10px;
    background-color: #f5f5f5;

    span {
      font-size: 15px;
    }

    .acent {
      font-size: 19px;
    }
  }
  &__body {
    background-color: white;
  }
}

.slider__button {
  width: 90%;
  position: absolute;
  bottom: 15px;
  left: -50px;
  color: #9d7307;
  border-radius: 10px;
  background-color: #f9d914;
}

.slider__discount {
  position: absolute;
  top:-20px;
  left: 70px;
}
.slider__text {
  font-size: 27px;
  &--big {
    font-size: 31px;
    line-height: 40px;
  }
}

.slider__like {
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.1);

  i {
    color: rgba(255,255,255,0.3)
  }
}

.slider-arrow {

  position: absolute;
  top: 40%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f9d914;
  z-index: 1;

  &--prev {
    left:10px
  }

  &--next {
    right: 10px;
  }
}

.text-brown {
  color: #c79005;
}

.filter__select {
  width: 202px;
  @include select();
}

.discount-num {
  font-size: 36px;
  line-height: 30px;
  margin-right: 2px;
  font-style: normal;
}

.discount-text {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bg-navy {
  background-color: #101121;
}
.cards__title {
  font-size: 34px;
}

.card {
  padding-top: 69%;
  background-position:-9px -4px;
  background-size: 105%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 34px 29.5px rgba(0,0,0,0.22));
  border-radius: 20px;

  &__button {
    @include button-yellow();
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 8%;
    min-width: 40%;
  }
  .card__blocked {
    display: none;
    position: absolute;
    width: 101%;
    top: -1px;
    height: 101%;
    z-index: 2;
    border-radius: 20px;
    background-color: rgba(0,0,0,.9);
    left: -1px;

    p {
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
      width: 60%;

    }
  }


  &--blocked .card__blocked{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__special {
    position: absolute;
    top: -20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    right: 10px;
    span {
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      border-radius: 45%;
      background-color: #fff;
      transform: rotate(5deg);
      position: absolute;
      top: 40px;
      right: 20px;
      width: 63%;
      padding-bottom: 6px;
      padding-top: 2px;
    }
  }


  &__wrapper {
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__discount {
    background-image: url("../../assets/img/discount-backgound.png");
    background-repeat: no-repeat;
    min-height: 83px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__text {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 15px;
    line-height: 22px;
    &--big {
      border: none;
      font-size: 17px;
    }
  }


  &__sale {

    &-type {
      position: absolute;
      top: -20px;
      z-index: 4;
      max-width: 90px;
      left: 10%;
    }
    &-img {
      width: 20%;
    }
  }
}

.social {
  display: flex;


  &__icon {
    font-size: 15px;
    color: #595b68;
  }
  &__item {
    margin-right: 10px;
  }
  &__link {
    display: block;
    color: #fff;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(243,224,58,0);
    border: 1px solid hsla(0,0%,100%,.2);
    background-repeat: no-repeat;
    background-position: 15px center;
    &--vk {
      background-image: url("../../assets/img/vk.png");
    }

    &--facebook {
      background-image: url("../../assets/img/facebook.png");
    }

    &--instagram {
      background-image: url("../../assets/img/instagram.png");
      min-height: 46px;
      width: 100%;
      padding: 20px;
      max-width: 50px;
      background-position: center;
    }
  }
}

.footer {
  &__wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url("../../assets/img/footer_image.png");
    background-repeat: no-repeat;
    background-position: 7% bottom;
    padding-top: 5%;

  }

  &__links {

    display: flex;
    flex-wrap: wrap;
    a {
      font-size: 14px;
      line-height: 15px;
      margin-left: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      border-left: 1px solid rgba(255,255,255,0.1);
      font-weight: bold;
      color: #f9d914;

      &:first-child {
        border: none;
      }
    }
  }

  &__city {
    .filter__select {
      width: 100px;
    }
    .list {
      bottom: 100%;
      top:unset;
    }
  }
  &__copyright {
    span {
      font-size: 16px;
      line-height: 15px;
      color: #595b68;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  &__info {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;


    &-link {
      font-size: 18px;
      color: #595b68;
    }
  }

  &__partners {
    display: flex;
    flex-wrap: wrap;

    .footer__title {
      width: 100%;
    }
  }

  &__partner {
    justify-content: space-between;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  &__title {
    color: #595b68;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 15px;
    font-weight: bold;
  }


  &__application {
    width: 143px;
    height: 54px;
    background-color: #000000;
    border-radius: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    &--appstore {
      background-image: url("../../assets/img/app_store.png");

    }

    &--google {
      background-image: url("../../assets/img/google_play.png");
    }
  }
}
// Modules
// @import "modules/my-module.scss";
