@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "modules/header";
@import "modules/simple-hint.css";
@import "modules/coupon";
@import "modules/switch";
@import "modules/promo-form";
@import "modules/personal";
@import "modules/menu";
@import "modules/sale";
@import "modules/promo";
@import "modules/commercial";
@import "modules/photo-modal";
html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666;
  font-size: 14px;
  opacity: 1; /* Firefox */
}

.nice-select.open .list {
  background-color: white;

  .option {
    color:black;

    &:hover {
      color: white;
    }
  }
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666666;
  font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666666;
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

[data-hint]::after {
  font-size: 16px;
  padding: 10px;
  display: block;

  line-height: 20px;
  background-color: black;
  border-radius: 16px;
  text-align: center;
}


[class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
  border-top-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.wrapper {
  //background-image: linear-gradient(90deg, #077db9 0%, #152041 100%);
  background: linear-gradient(90deg, rgba(17,59,100,1) 0%, rgba(7,125,185,1) 50%, rgba(15,73,120,1) 90%);
}

.text-big {
  font-size: 20px;
}

.btn-custom {
  background-color: $default-color;
}

.brd-left::before {
  content: "";
  width: 1px;
  position: absolute;
  background-color: #202e58;
  top: -3px;
  height: 110%;
  left: 0px;
}


.brd-left {
  position: relative;

  &--custom::before {
    left: 0;
  }
}


.badge-icon {
  position: absolute;
  top: 6px;
  right: 8px;
}

.navigation {
  border-radius: 4px;
  filter: drop-shadow(0px 3px 0px rgba(0, 26, 40, 0.29));
  background-image: linear-gradient(0deg, #1b8bc5 0%, #2cb2f8 100%);
}

.search {
  border-radius: 4px;
  background-image: linear-gradient(0deg, #ffffff 0%, #ececec 100%);
}

.search__input {
  background-color: transparent;
}

.btn-border-left {
  position: relative;
  @include customize-before(#d1d1d1, 0, 0, unset, unset, 1px, 100%);
}

.input-border-left {
  position: relative;
  @include customize-before(rgba(6, 93, 139, 0.5), 0, 0, unset, unset, 1px, 100%);
}

.search__button {
  border-radius: 4px;
  filter: drop-shadow(0px 2px 0px rgba(0, 26, 40, 0.29));
  background-image: linear-gradient(0deg, #e8c507 0%, #f9dd13 100%);
  font-size: 16px;
  line-height: 17px;
  color: #993300;
}

@media (min-width: 1140px) {
  .search__button {
    background-image: url("../img/search.png"), linear-gradient(0deg, #e8c507 0%, #f9dd13 100%);
    background-position: 7% center;
    background-repeat: no-repeat;
  }
}



@for $i from 1 through 12 {
  .category__link:nth-child(#{$i}) {
    background-image: url("../../assets/img/cat#{$i}.png");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("../../assets/img/cat#{$i}_hover.png");
    }
  }
}

.w-33 {
  width: 100%;

}

.w-8 {
  width: 80%;
}


.category {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #ffffff;

  &:hover {
    background-color: #096ca2;
  }
}

.category-dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}



.category:hover .category__name {
  color: white;
}

.category:hover .category__count {
  color: #f7dc13;
}

.category__count {
  font-size: 11px;
  color: #acacac;
}

.category__name {
  font-size: 14px;
  color: #000000;
}

.close-category {
  font-size: 30px;
  background-color: transparent;
  margin-right: 10px;
  padding-top: 20px;
  margin-top: 10px;
}

.category__mobile {

  position: fixed;
  top:0;
  overflow-y: auto;

  display: flex;
  left:0;
  width: 100%;
  background-color: white;
  height: 100%;





}


.category__wrapper {
  @media (min-width: 768px) {
    overflow: auto;
    max-height: 460px;
    position: unset;
  }
}


.hidden {
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: none;
  position: absolute;
  bottom: -5px;
  border-bottom: 10px solid #f3ea22;
}

.ProseMirror {
  display:flex;
  flex-direction: column;
  height:100%
}

.ProseMirror p {
  word-wrap: break-word;
  max-width: 699px;
}
.arrow-decoration {
  width: 0;
  height: 0;

  position: absolute;
  border-bottom: 300px solid #fff;

  &--left {
    border-left: 74px solid rgba(0, 0, 0, 0);
    border-right: 15px solid transparent;
    bottom: 0;
    left: -74px;
  }

  &--rigth {
    border-left: 74px solid rgba(0, 0, 0, 0);
    right: -74px;
    bottom: 0;
    transform: rotate(180deg);
  }
}

.category__link:hover .arrow-up {
  display: block;
}

.category.active {
  a {
    color: white;
  }
    background-color: #096ca2;
}
.slick-list {
  padding-top: 20px;

  padding-bottom: 30px;
}

.modal-title {
  font-size: 30px;
  font-weight: bold;
}

.modal-text {
  font-size: 14px;
}

.form-text {
  font-size: 12px;
}
.cropper {
  height: 521px;
  width: 900px;
}
.slider {

  a {
    &:hover {
      text-decoration: none;
    }
  }
  background-repeat: no-repeat;
  //background-color: #0ca563;
  border-radius: 24px;


  min-height: 300px;


  background-position: -85px;
  background-size: 81% 100%;


  &__sale {
    //max-width: 97vw;
    //width: auto;
    //max-height: 455px;
    .slider__image-main {
      width: 100%;
      max-height: 455px;
      border-radius: 20px;
    }
  }

  &__discount {
    position: absolute;
    right: 30px;
    top: -20px;
    width: 15%;
  }

  &__body {
    border-radius: 24px;
  }

  &__time {
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #000000;

    span {
      font-size: 12px;
    }

    .acent {
      font-size: 14px;
    }
  }

  &__body {
    background-color: white;
  }

  &__text {
    font-size: 18px;
    color: #000000;

    &--big {
      font-size: 23px;
      line-height: 40px;
    }
  }
}




.slider__button {
  width: 90%;
  position: absolute;
  bottom: 15px;
  left: -15%;
  color: #9d7307;
  border-radius: 10px;
  background-color: #f9d914;
}


.slider__like {
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);

  i {
    color: rgba(0, 0, 0, 1)
  }
}

.commercial__slider > div:hover {
  .slider-arrow--dark {
     display: flex !important;;
  }
}
.slider-arrow {

  position: absolute;
  top: 42%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f9d914;
  z-index: 1;

  &--prev {
    left: 15px
  }


  &--dark {
    width: 42px;
    height: 42px;
    padding: 0;
    display: none !important;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    background-color: rgba(0,0,0,0.5019607843137255);

    i {
      color: rgba(255,255,255,0.5);
      font-weight: bold;
      font-size: 40px;
    }

    &.slider-arrow--prev {
      left: 7%;
    }

    &.slider-arrow--next {
      right: 10%;
    }
  }




  &--next {
    right: 15px;
  }
}


.text-brown {
  color: #c79005;
}

.filter__select {
  width: 100%;
  @include select();
}

.nice-select.open .list  {
  width: 100% !important;
}

.discount-num {
  font-size: 36px;
  line-height: 30px;
  margin-right: 2px;
  font-style: normal;
}

.discount-text {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bg-navy {
  background-color: #101121;
}

.line {

  width: 100%;
  position: relative;
  margin-top: -25px;
  &::before {
    position: absolute;
    content:"";
    width: 29%;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
  }

  &::after {
    position: absolute;
    content:"";
    width: 29%;
    right: 0;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
  }
}

.cards__title {
  font-size: 34px;
}

.card {
  padding-top: 71%;
  background-position: -9px -4px;
  background-size: 105%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 34px 29.5px rgba(0, 0, 0, 0.22));
  border-radius: 20px;

  &__button {
    @include button-yellow();
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 8%;
    min-width: 40%;
  }

  .card__blocked {
    display: none;
    position: absolute;
    width: 101%;
    top: -1px;
    height: 101%;
    z-index: 2;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .9);
    left: -1px;

    p {
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
      width: 60%;

    }
  }


  &--blocked .card__blocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__special {
    position: absolute;
    top: -20px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    right: 10px;

    img {
      width: 80%;
    }
    span {
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      border-radius: 45%;
      background-color: #fff;
      transform: rotate(5deg);
      position: absolute;
      top: 40px;
      right: 11px;
      width: 60%;
      padding-bottom: 6px;
      padding-top: 2px;
    }
  }


  &__wrapper {
    display: grid;
    column-gap: 15px;
    row-gap: 30px;
    grid-template-columns: 1fr;
  }




  &__text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    line-height: 22px;
    color: #000000;

    &--big {
      border: none;
      font-size: 17px;
    }
  }


  &__sale {

    &-type {
      position: absolute;
      top: -20px;
      z-index: 4;
      max-width: 80px;
      left: 6%;



      [data-hint]::after {
        display: none;
      }
      [class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
        display: none;
      }


    }

    &-img {
      width: 15%;

      &--wide {
        width: 17%;
      }
    }


  }

  &__discount {
    background-image: url("../../assets/img/discount-backgound.png");
    background-repeat: no-repeat;
    min-height: 83px;
    z-index: 4;
    display: flex;
    background-size: contain;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90px;
  }
}

.link {
  font-size: 14px;
}

.button {
//  padding: 10px;
}






.link__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  a {
    width: 100%;
  }

  &:last-child {
    border-bottom: none;
  }
}




.category {
  &__link {

    padding-top: 4em;
    p {
      font-size: 90%;
    }
  }
}


.social {
  display: flex;
  flex-wrap: wrap;


  &__icon {
    font-size: 15px;
    color: #595b68;
  }

  [data-hint]::after {
    font-size: 16px;
    padding: 10px;
    display: block;

    line-height: 20px;
    background-color: black;
    border-radius: 16px;
    text-align: center;
  }

  [class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
    border-top-color: black;
  }

  &__item {
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    button {
      background-color: transparent;
    }



    a {
      letter-spacing: 0.5px;
      font-size: 18px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__link {

    display: block;
    color: #fff;
    padding: 10px 42px;
    border-radius: 10px;
    background-color: rgba(243, 224, 58, 0);
    border: 1px solid hsla(0, 0%, 100%, .2);
    background-repeat: no-repeat;
    background-position: 15px center;

    &:hover {
      color: white;
    }

    &--vk {
      background-image: url("../../assets/img/vk.png");
    }

    &--facebook {
      background-image: url("../../assets/img/facebook.png");
    }

    &--instagram {
      background-image: url("../../assets/img/instagram.png");
      min-height: 46px;
      width: 100%;
      padding: 20px;
      padding-left: 25px;
      padding-right: 25px;
      max-width: 50px;
      background-position: center;
    }
  }
}

.slider__main {
  padding: 0;
}

.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding-top: 5%;

  }

  &__social {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__menu {
    z-index: 3;

    li {
      padding: 5px;
    }
  }

  &__image {
    display: none;
  }

  &__links {
    display: none;
    justify-self: center;
    flex-wrap: wrap;

    a {
      font-size: 14px;
      line-height: 15px;
      margin-left: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      font-weight: bold;
      color: #f9d914;

      &:first-child {
        border: none;
      }
    }
  }

  &__city {

    grid-column-start: 3;
    grid-column-end: 4;

    .nice-select {
      background-repeat: no-repeat;
      background-image: url("../../assets/img/russia.png");
      background-position: 20px;
    }

    justify-self: flex-end;

    .filter__select {
      width: 140px;
      z-index: 20;
      padding-left: 40px;
    }

    .list {
      bottom: 100%;
      top: unset;
    }
  }

  &__copyright {
    grid-column-end: 3;
    grid-column-start: 1;

    span {
      font-size: 16px;
      line-height: 15px;
      color: #595b68;
    }
  }

  &__inner {
    display: grid;
    z-index: 10;
    grid-template-columns: 1fr;

    p {
      width: 100%;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      [data-hint]::after {
        font-size: 16px;
        padding: 10px;
        display: block;

        line-height: 20px;
        background-color: black;
        border-radius: 16px;
        text-align: center;
      }


      [class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
        border-top-color: black;
      }
    }
  }

  &__main {
    display: grid;
    z-index: 10;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr auto;
  }


  &__info {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-wrap: wrap;
    justify-content: space-between;

    &-grid {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      //grid-template-rows: 1fr 1fr;

    }

    &-menu {
      display: grid;
      grid-template-columns: auto;
    }

    &-link {
      font-size: 16px;
      color: #595b68;

      &:hover {
        color: white;
      }
    }
  }

  &__partners {
    display: none;
    flex-wrap: wrap;
    position: relative;


    &-suffix {
      position: absolute;
      bottom: -70px;
      right: 0;

      width: auto !important;

      &::before {
        content: "";
        width: 25px;
        height: 25px;

        background-image: url(/assets/img/arc.png);
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: -40px;
        top: -17px;

      }
    }

    .footer__title {
      width: 100%;
    }
  }

  &__partner {
    &:nth-of-type(even) {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    justify-content: space-between;
  }

  &__block {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr;


  }

  &__title {
    color: #595b68;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 15px;
    font-weight: bold;

    &.footer__partners-suffix {
      font-size: 16px;
    }
  }


  &__application {
    width: 143px;
    height: 54px;
    background-color: #000000;
    border-radius: 10px;
    margin-right: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

    &--appstore {
      background-image: url("../../assets/img/app_store.png");

    }

    &--google {
      background-image: url("../../assets/img/google_play.png");
    }
  }
}


.user {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 5px solid #0066cc;
  top: 115%;
  right: -15px;
  background-color: white;
  padding: 5px;
  padding-top: 0;
  z-index: 10;
  display: none;

  &--unauth {
    top: 103%;
  }

  &__text {
    font-size: 14px;
    color: #333333;

    &--big {
      font-size: 16px;
    }

    &--accent {
      color: #ff3333;
      font-weight: bold;
      font-size: 16px;
      margin-left: 15px;
    }
  }

  &__wrapper {
    margin-top: 25px;
  }

  &__register {
    border-radius: 3px;
    background-color: #0066cc;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__header {
    display: grid;
    padding-top: 5px;
    grid-template-columns: 50px 2fr 1fr;
    align-items: center;
    padding-bottom: 10px;
    background-color: #eff3fd;


    .user__text {
      font-size: 16px;
      line-height: 23px;
    }

    .user__link {
      justify-self: flex-end;
    }
  }


  &__link {
    padding-right: 20px;
  }

  &__info {
    display: grid;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: auto 2fr auto;
    align-items: center;
    position: relative;

    background-repeat: no-repeat;
    background-position: 10px;

    &--profile {
      background-image: url("../../assets/img/User.png");
    }

    &--saving {
      background-image: url("../../assets/img/average.png");
    }

    &--account {
      background-image: url("../../assets/img/star.png");
    }

    &--settings {
      background-image: url("../../assets/img/book.png");
    }

    &--help {
      background-image: url("../../assets/img/question.png");
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 102%;
      left: -6px;
      background-color: rgba(0, 0, 0, 0.1);
    }


    .user__link {
      grid-column-start: 3;
      grid-column-end: 4;
      text-decoration: underline;
      justify-self: flex-end;


    }
  }
}

.category__main {
  background-color: white;
  z-index: 1000;
}

@media (min-width: 430px) {
  .card {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.w-6 {
  width: 100%;
}

.promo-form__organization {
  .w-50 {
    width: 100% !important;
  }
}
@media screen and (min-width: 576px) {

  .promo-form__organization {
    .w-50 {
      width: 50% !important;
    }
  }
  .link__item {
    border-bottom: none;

    a {
      width: auto;
    }
  }

  .w-6 {
    width: 60%;
  }

  .brd-bottom {
    position: relative;
    @include customize-before(rgba(255, 255, 255, 0.1), unset, unset, unset, 0px, 100%, 1px);
  }

  .category__main {
    border-top: 12px solid #f3ea22;
    position: absolute;
    top: 130px;


  }


  .footer {
    &__block {
      grid-template-columns: 0.8fr 2fr;
    }

    &__inner {
      p {
        width: auto;
      }

      div {
        display: block;
        position: relative;
      }
    }


    &__copyright {
      grid-column-end: 2;
      grid-column-start: 1;
    }

    &__application {
      margin-right: 0px;
    }

    &__menu {
      li {
        padding: 0;
      }
    }

    &__info {
      align-items: center;

      &-menu {
        grid-template-columns: 1fr 1fr;
      }

      &-grid {
        grid-template-columns: 1fr 3fr 1fr;
      }
    }

    &__links {
      display: flex;
    }
  }

  .slider {
    box-shadow: 1px 10px 30px -20px rgba(0, 0, 0, .75);
    &__time {

      span {
        font-size: 13px;
      }

      .acent {
        font-size: 15px;
      }
    }

    &__text {
      font-size: 20px;

      &--big {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

.navbar-light .navbar-toggler {
  border-color: rgba(255,255,255,.3);
}

.categories {
  &__inner {
    overflow-x: auto;
  }
}
.nice-select .option {
  padding-left: 7px;
}
@media screen and (min-width: 768px) {

  .slider-arrow {
    &--next {
      right: 0px;
    }
    &--prev {
      left: 0px;
    }
  }

  .filter__select {
    width: 70%;
  }

  .categories {
    &__inner {
      overflow: unset;
    }
  }

  .card {

    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }


  .slider {
    background-color: #0ca563;

    &--1 {
      background-image: url("../../assets/img/slider-1.png");
    }

    &__discount {
      top: -20px;
      width: auto;
      left: 30px;
    }

    &__body {
      border-radius: 0px;
    }

    &--2 {
      background-image: url("../../assets/img/slider-2.png");
      background-position: -185%;
    }
  }
  .footer {

    &__partners {
      display: flex;
    }

    &__info {
      &-menu {
        grid-template-columns: 2fr 1.9fr 0.4fr;
      }
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__social {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &__block {
      grid-template-columns: 0.5fr 2fr;
    }
  }
}

.w-4 {
  width: 100%;
}

.editor__content {
  padding: 10px;
  border-radius: 3px;
  min-height: 250px;
  border: 1px solid #d2dbe3;
  width: 100%;
  margin-top: 15px;
  overflow: auto;
  resize: vertical;
  color: black;
  max-width: 711px;
  p {
    font-size: 13px;
  }

}


#profile-button img {
  border-radius: 7px;
}

.editor__content .is-empty:first-child::before, .editor__content .is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: #999;
  pointer-events: none;
  height: 0;
}

.navbar .dropdown-toggle::after {
  color: #f3ea22;
}
.dropdown-toggle::after {
  content: "\02C5";
  border:none;
  font-size: 13px;
  margin: 0;
  margin-left: 6px;
  position: absolute;
  //top: 7px;
  margin-top: 4px;

}

.search button {
  padding-left: 0px;
}
.search .dropdown-toggle::after {
  color:#3398cc;
}

.social__button {
  border-radius: 6px;
  background-color: #e5ecf0;
  //@for $i from 1 through 17 {
  //  &:nth-of-type(#{$i}) {
  //    background-image: url("../../assets/img/social#{$i}.png");
  //  }
  //}

  @for $i from 1 through 17 {
    &--#{$i} {
      background-image: url("../../assets/img/social#{$i}.png");
      background-position: 10%;
    }
  }

  &--2,
  &--7 {
    background-position: 5%;
  }
  margin: 5px;
  background-repeat: no-repeat;
  padding: 10px 20px;
  padding-left: 33px;
  padding-right: 23px;
  background-position: 10%;
  font-size: 13px;

}

.text-counter {
  color: #0066cc;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 991px) {

  .social__button {
    font-size: 15px;

  }

  .text-counter {
    right: 25px;
  }

  .w-33 {
    width: 33%;

  }

  .editor__content  {
    p {
      font-size: 15px;
    }
  }

  .w-4 {
    width: 40%;
  }

  .w-8 {
    width: 80%;
  }


  .button {
    //padding-left: 13px;
    //padding-right: 19px;
  }

  .card {
    &__wrapper {
      column-gap: 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

  .social {
    [data-hint]::after {
      font-size: 16px;
      padding: 10px;
      display: block;

      line-height: 20px;
      background-color: black;
      border-radius: 16px;
      text-align: center;
    }


    [class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
      border-top-color: black;
    }
    &__item {
      position: relative;
      margin-bottom: 0;

    }
  }

  .footer {

    &__block {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 0px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    &__image {
      display: block;
      position: absolute;
      bottom: 0;
      left: 5%;
    }

    &__inner {
      grid-template-columns: 1fr 1fr;
    }

    &__main {
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: auto;
    }

  }


  .slider {
    //background-size: auto;
    //background-position: left -50px;
    min-height: 373px;

    &--2 {
      background-position: -173%;
     // background-position: -130px center;
    }


      &__sale {
        max-width: 798px;
      }
    &__time {
      border-radius: 10px;
      background-color: #f5f5f5;

      span {
        font-size: 15px;
      }

      .acent {
        font-size: 19px;
      }
    }

    &__text {
      font-size: 27px;

      &--big {
        font-size: 31px;
        line-height: 40px;
      }
    }

    &__like {
      i {
        color: rgba(255, 255, 255, 0.3)
      }
    }
  }

  .arrow-decoration {
    border-bottom: 373px solid #fff;

    &--left {
      border-left: 74px solid rgba(0, 0, 0, 0);
      border-right: 15px solid transparent;
      bottom: 0;
      left: -74px;
    }

    &--rigth {
      border-left: 74px solid rgba(0, 0, 0, 0);
      right: -74px;
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}

@media screen and (min-width: 1140px) {

  .slider-arrow {
    &--next {
      right: -20px;
    }
    &--prev {
      left: -20px;
    }
  }

  .footer {
    &__block {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 0px;
    }
  }


  .slider {
    background-size: auto;
    background-position: left -50px;

  }

  .slider.slider--2 {
    background-position: -133%;
  }




  .link {
    font-size: 16px;
  }


  .card {
    &__wrapper {
      display: grid;
      column-gap: 20px;
      row-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    &__sale {

      &-type {

        cursor: pointer;


        [data-hint]::after {
          font-size: 13px;
          padding: 20px;
          display: block;

          line-height: 20px;
          background-color: black;
          border-radius: 16px;
          text-align: justify;
        }

        [class*="hint-"][class*="-s-big"]::after {
          width: 375px;
        }

        [class*="hint-"][class*="-t-info"][class*="hint-top"]::before {
          border-top-color: black;
          display: block;
        }

      }
    }
  }
}





.promo-form__input--image {
  @for $i from 1 through 17 {
    &--#{$i} {
      background-image: url("../../assets/img/social#{$i}.png");
      background-position: 3%;
      background-repeat: no-repeat;
    }
  }
}

.social__block {
  display: flex;
  //@for $i from 1 through 17 {
  //  &:nth-of-type(#{$i})  .promo-form__input--image {
  //    background-image: url("../../assets/img/social#{$i}.png");
  //    background-repeat: no-repeat;
  //    background-position: 3%;
  //  }
  //}
}
.p-r {
  position: relative;
}
.button-brd-left {
  position: absolute;
  right: 0;
  top:0;
  &::before {
    content: "";
    width: 1px;
    height: 75%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.1);
  }
  i {
    color:#999999;
  }

  &--white {
    &::before {
      background-color: rgba(255,255,255,0.2);
    }
  }
}
.checkbox {
  padding: 10px;
  width: 35px;
  height: 35px;

  border-radius: 5px;
  background-color: #e5ecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

@media screen and (min-width: 991px){
  .checkbox {
    width: 40px;
    height: 40px;
  }
}

input:checked + .checkbox {
  background-color: #0066cc;
  color: white;

}



input:checked + label .promo-form__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #0066cc;
  background-image: url("../../assets/img/checkbox-true.png");
  background-position: center;
}

.selected__button {
  position: relative;
  border-radius: 6px;
  background-color: #0066cc;
  color: white;
  padding: 10px 20px;
  padding-right: 60px;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.theme-dark {
  background-color: #063965;
}
.theme-container {
  border-radius: 20px;


  padding: 3%;
}
.blur .promo-form__border::before{
  display: none;
}
.theme-white.blur {
  background-color: #efefef;
}
.theme-white {
  background-color: white;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;

  column-gap: 2%;

  aside {
    align-self: start;
    order: -1
  }

  @media (min-width: 768px) {
    grid-template-columns: 3fr 1fr;

    aside {
      order: 0;
    }
  }
}

#vid1
{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 260px;
}

@media(min-width: 576px) {
  #vid1 {
    max-height: unset;
  }
}


.video-js .vjs-big-play-button {
  background: red;
  border-radius: 50% / 10%;
  color: #FFFFFF;
  top: 30%;
  font-size: 2em; /* change this to change size */
  height: 3em;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 4em;
  border: none;
}


.video-js .vjs-big-play-button::before {
  background: inherit;
  border-radius: 5% / 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
}

.vjs-big-play-button .vjs-icon-placeholder::before{
  top: 20% !important;
  font-size: 30px;
}

.video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button {
  background-color: darkorange;
}


.my-dots {
  position: absolute;
  bottom: -1px;
  padding-top: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  padding-right: 11%;
  width: 100%;
  z-index: 1;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 3px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.1);
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15%;
  height: 3px;
  border-radius: 2px;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
}


.my-dots li button:before {
  display: none;
}

.my-dots li.slick-active {
  background-color: #f6d911;
}

.theme-shadow {
  box-shadow: 0px 0px 114px -45px rgba(0,0,0,0.75);
}


.custom-dots {
  bottom: -2px;
  z-index: 1;
  background-color: #fff;
  li button::before {
    font-size: 15px;
  }
}


.custom-dots li.slick-active button::before {
  color: #f6d911;
}
// Modules
// @import "modules/my-module.scss";

.photo__button {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  background-color: #f6f6f6;
  border: 1px solid #e4e6e7;
  font-size: 16px;
  color: #003366;
  &--accent {
    color: white;
    background-color: #0066cc;
  }
}
.photo__text {
  &--blue {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    color: #0066cc;
  }

  &--accent {
    font-size: 18px;
    line-height: 22px;
    color: #152041;
    margin-left: 15px;
  }
}

@media (min-width: 991px) {
  .photo__text {
    &--accent {
      font-size: 20px;
      line-height: 22px;
    }
  }
}



.menubar {
  width: 100%;
}

.vue-range-slider .slider {
  min-height: auto;
  box-shadow: none;
  width: 100%;
}
.vue-slider {
  width: 100% !important;
}

.ui.fluid.dropdown {
  height: 42px;
  .text {
    font-size: 16px;
  }

}

.vue-slider-dot-tooltip-inner {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  box-shadow: none;
  padding: 3px 6px;
}
.vue-slider-dot-tooltip-top {
  top:0 !important;
}
.vue-slider-dot-tooltip-inner-top::after {
  display: none;
}

.slider-process {
  background-color: #06c;
}

.error {
  font-size: 12px;
  color: red;
}

.simplebar-wrapper {
  width: 100%;
}


.vue-slider-dot-handle {
  background-color: #0066cc;
  border: none;
}

.link-long {
  &::after {
    width:105% !important;
  }
}

.form-input {
  border:1px solid #3398cc;
  border-radius: 5px;
  padding: 10px;
}