- let categories2 = [ "Вечерняя уборка офисов", "Генеральная уборка", "Клининговые услуги","Комплексная уборка","Мойка фасадов", "Мытьё балконов","Мытьё бытовой техники","Мытьё люстр","Мытьё окон","Мытьё полов","Мытьё посуды","Поддерживающая уборка","Прочие помещения","Ручная стирка","Стирка","Стирка штор","Сухая уборка","Уборка","Уборка двухкомнатной квартиры","Уборка домов и коттеджей","Уборка загородных домов","Уборка квартир","Уборка квартиры","Уборка кухни","Уборка нежилых помещений","Уборка однокомнатной квартиры","Уборка офисов","Уборка после пожара","Уборка после ремонта","Уборка придомовой территории","Уборка санузла","Уборка снега","Уборка трёхкомнатной квартиры","Уборка четырёхкомнатной квартиры","Уход за VIP-гардеробом","Химчистка","Химчистка ковров","Химчистка кожаной мебели","Химчистка матрасов","Химчистка мягкой мебели","Химчистка стульев","Химчистка штор","Чистка ковров","Чистка плитки","Прочее"];
- let categories3  =["Event-агентства под ключ","Автомобили для мероприятий","Аранжировщики","Аренда воздушных шаров","Аренда звукового оборудования","Аренда инструмента","Аренда осветительного оборудования","Аренда пианино","Аренда скатертей","Аренда сцены","Аренда шатров","Аренда яхт","Аэросъёмка","Батареи салютов","Бенгальские свечи и хлопушки","Бумажный декор","Видеомонтаж","Видеооператор","Видеосъёмка","Видеосъемка в начальной школе","Видеосъемка выписки из роддома","Видеосъёмка выписки из роддома","Видеосъемка выпускного в детском саду","Видеосъемка выпускного в школе","Видеосъемка детских праздников","Видеосъемка клипов","Видеосъемка концерта","Видеосъемка корпоративов","Видеосъемка крестин","Видеосъемка рекламы","Видеосъёмка свадеб","Видеосъемка свадьбы","Видеосъемка юбилеев","Воздушные шары","Выездная фотосессия","Выездные аттракционы","Выпускные альбомы для детского сада","Декор","Детская фотосъёмка","Дымовые шашки","Заказ автобомиля","Звукооператоры","Звукорежиссёры","Имиджевая фотосъёмка","Интерьерная съёмка","Каталожная фотосъёмка","Клубная съёмка","Композиторы","Концертные агентства","Корпоративная фотосъёмка","Костюмы","Краски холи","Летающие фейерверки","Мастеринг трека","Надписи на фото","Наземные фейерверки","Обработка фотографий","Организаторы детских мероприятий","Организация торжеств","Оформление зала","Оформление свадебного зала","Оформление свечами","Панорамная съёмка","Песни на заказ","Петарды","Пиротехника","Платья","Подарочные композиции","Портретная фотосъёмка","Проведение фейерверков","Прокат детских костюмов","Прокат костюмов","Прокат лимузинов","Развлечения для гостей","Ракеты","Рекламное фото","Репортажная съёмка","Реставрация фотографий","Римские свечи","Свадебные аксессуары","Свадебные букеты","Свадебные товары для жениха","Свадебные товары для невесты","Свадебные фотоальбомы","Свадебный видеооператор","Свадебный кортеж","Свадебный танец","Свадебный фотограф","Сведение звука","Семейный фотограф","Слайд-шоу","Смываемая краска для авто","Сопутствующие товары","Студии звукозаписи","Съёмка с квадрокоптера","Тамада","Танцевальные студии","Творческие мастерские","Тимбилдинг","Украшение зала","Украшение светящимися шарами","Украшение шарами","Упаковка подарков","Фейерверк-шоу","Фестивальные шары","Флористы","Фонтаны","Фото на документы","Фотоальбомы","Фотобудки","Фотограф на выписку","Фотограф на выпускной","Фотограф на крещение","Фотозона","Фотозона на свадьбу","Фотокниги","Фотомонтаж","Фотосессия love story","Фотосессия беременных","Фотосессия в студии","Фотосессия на годик","Фотосессия на природе","Фотостудии","Фотосъёмка","Фотосъёмка новорождённых","Фотосъёмка родов","Фуд-фотограф","Художественная фотосъёмка","Художественный фотопортрет","Школьные фотоальбомы"];
-
 let categories1 = [
  {name: "Грузоперевозки", count: 1929},
  {name: "Фото, видео, аудио", count: 1200},
  {name: "Свадьба и торжества", count:985},
 {name: "Все для красоты",count: 136},
 {name: "Врачи", count: 789},
 {name: "ИТ-Фрилансеры", count: 657},
 {name: "Ремонт и стройка", count: 369},
 {name: "Для авто",count: 321},
 {name: "Бухгалтеры и юристы", count:129},
 {name: "Ветеринары", count: 225},
 {name: "Автоконструкторы",count:980},
 {name: "Домашний персонал", count: 412},
 {name: "Уборка", count: 302}
  ]
- var n = 1;
- let catLen = categories2.length;
- let indexOfCat = 1;
    while n <= 12
        div(class="col-lg-12 category__main row no-gutters p-0 hidden" data-index=n++)
            div(class="col-lg-4 p-md-0 category__wrapper" data-sub=0)
                button(type="button" class="close close-category d-flex d-md-none" aria-label="Close")
                    span(aria-hidden="true") &times;
                each val, index in categories1
                    +category(val.name, val.count, index + 1,0, categories2)
            //div(class="col-lg-4 p-0 category__wrapper" data-sub=0)
            //    each val, index in categories1
            //        +category(val.name, val.count, index + 1,0, categories2)
            //div(class="col-lg-4 p-0 category__wrapper" data-sub=0)
            //    each val, index in categories1
            //        +category(val.name, val.count, index + 1,0, categories3)
            //+loop_categories(categories2, categories3)

