footer.bg-navy
  div.container.pt-3
        ul.d-flex.justify-content-between.pt-4.pb-4.brd-bottom
            li.text-uppercase.font-weight-bold.text-white Все магизины
            li.text-uppercase.font-weight-bold.text-white Все промокоды
            li.text-uppercase.font-weight-bold.text-white Все скидки
            li.text-uppercase.font-weight-bold.text-white Все конкурсы
            li.text-uppercase.font-weight-bold.text-white Помощь
            li.text-uppercase.font-weight-bold.text-white О нас
            li.text-uppercase.font-weight-bold.text-white Контакты
        div.footer__wrapper
              div.footer__block.brd-bottom
                  div.footer__inner
                      div
                          p.footer__title Больше скидок
                          p.footer__text.text-white.mb-3 В нашем мобильном приложении
                          a(class="footer__application footer__application--appstore mb-2" href="#" aria-label="App Store приложение")
                          a(class="footer__application footer__application--google mb-2" href="#" aria-label="Google Play приложение")
                  div.footer__main
                      div.footer__social
                          p.footer__title Следите за новостями и акциями
                          ul.social.mb-5
                              li.social__item
                                  a(href="facebook" class="social__link social__link--vk") Вконтакте
                              li.social__item
                                  a(href="facebook" class="social__link social__link--facebook") Facebook
                              li.social__item
                                  a(href="facebook" class="social__link social__link--icon social__link--instagram" aria-label="Instagram")

                          p.footer__title Служба поддержки GM
                              ul.social
                                  li.social__item
                                      a(href="mailto:test@admin@gm1lp.ru" class="text-white d-flex align-items-center brd-bottom")
                                          i.material-icons.social__icon.mr-2 mail_outline
                                          | admin@gm1lp.ru
                                  li.social__item
                                      a(href="tel:+7(927)997-888-44" class="text-white d-flex align-items-center brd-bottom")
                                          i.material-icons.social__icon.mr-2 call
                                          | +7(927)997-888-44
                      div.footer__partners
                          p.footer__title Мы работаем  с
                            div.footer__partner.d-flex.flex-column.align-items-center
                                img(src="assets/img/partners8.png")
                                img(src="assets/img/partners6.png")
                                img(src="assets/img/partners4.png")
                            div.footer__partner.pl-4.pr-4.d-flex.flex-column.align-items-center
                                  img(src="assets/img/partners7.png")
                                  img(src="assets/img/partners1.png")
                                  img(src="assets/img/partners2.png")
                            div.footer__partner.d-flex.flex-column.align-items-center
                                  img(src="assets/img/partners7.png")
                                  img(src="assets/img/partners5.png")
                                  img(src="assets/img/partners3.png")
                          span И другие
                      div.footer__info.pt-3.pb-3
                          a(href="#" class="footer__info-link") Политика защиты персональной информации
                          a(href="#" class="footer__info-link") Пользовательское соглашение
              div.footer__info.pt-4.pb-5
                  div.footer__copyright
                      img(src="assets/img/footer__logo.png")
                      span.text-uppercase.ml-2 GM 2014 — 2019
                  div.footer__links
                      a(href="#" class="text-uppercase") +Партнерская програма
                      a(href="#" class="text-uppercase") +Добавить магазин
                  div.footer__city
                      select.filter__select
                        option Россия
                        option Украина
                        option Германия