div.slider__main.col-md-12
    div.col-md-12.d-flex.slider.slider--1
        a(href="#" class="d-flex d=flex-column")
            div.col-12.col-md-5.offset-md-4.col-xl-4.offset-xl-5.slider__body.d-flex.flex-wrap.justify-content-between.align-items-center.pl-2
                div.d-none.d-md-block.arrow-decoration.arrow-decoration--left
                div.col-md-12.slider__time.pt-2.pb-2.pl-3.pr-3.d-flex.align-items-center
                    span До конца акции
                    img(src="/assets/img/alarm.png" class="ml-1 mr-1")
                    span.acent.font-weight-bold 4 дня 15:13:15
                h1.slider__text.font-weight-bold.col-lg-10.slider__text--big   Скидка -50% на стрижку! Так можем только мы!
                div.col-md-12.d-flex.align-items-center
                    img(src="/assets/img/discount.png" width="35" height="35" class="mr-2")
                    span.font-weight-bold.slider__text Скидка от 150 руб.
                div.d-none.d-md-block.arrow-decoration.arrow-decoration--rigth
            div.d-none.col-md-3.d-md-flex.flex-column.justify-content-between.align-items-center
                button.slider__like.mt-4.p-2.pl-4.pr-4
                    i.material-icons.mr-2 favorite_border
                    span.text-white.font-weight-bold 1258
                button.btn.slider__button.font-weight-bold.pt-3.pb-3 Подробнее
            img(src="/assets/img/discount.png" class="slider__discount")

    div.col-md-12.d-flex.slider.slider--2
        a(href="#" class="d-flex d=flex-column")
            div.col-md-5.offset-md-4.slider__body.d-flex.flex-wrap.justify-content-between.align-items-center.pl-2
                div.d-none.d-md-block.arrow-decoration.arrow-decoration--left
                div.col-12.col-md-12.slider__time.pt-2.pb-2.pl-3.pr-3.d-flex.align-items-center
                    span До конца акции
                    img(src="/assets/img/alarm.png" class="ml-1 mr-1")
                    span.acent.font-weight-bold 4 дня 15:13:15
                h1.slider__text.font-weight-bold.col-md-10.slider__text--big   Скидка -50% на стрижку! Так можем только мы!
                div.col-md-12.d-flex.align-items-center
                    img(src="/assets/img/discount.png" width="35" height="35" class="mr-2")
                    span.font-weight-bold.slider__text Скидка от 150 руб.
                div.d-none.d-md-block.arrow-decoration.arrow-decoration--rigth
            div.d-none.col-md-3.d-md-flex.flex-column.justify-content-between.align-items-center
                button.slider__like.mt-4.p-2.pl-4.pr-4
                    i.material-icons.mr-2 favorite_border
                    span.text-white.font-weight-bold 1258
                button.btn.slider__button.font-weight-bold.pt-3.pb-3 Подробнее
            img(src="/assets/img/discount.png" class="slider__discount")