extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';


block content
    ul.list-group.container
        li.list-group-item
            a(href="index.html") Главная
        li.list-group-item
            a(href="personal.html") Личный кабинет
        li.list-group-item
            a(href="promos.html") Мои акции
        li.list-group-item
            a(href="add-sales.html") Конструктор акций (в разработке)
        li.list-group-item
            a(href="sale.html") Страница акции (вариант3)
        li.list-group-item
            a(href="sale2.html") Страница акции (вариант2)
        li.list-group-item
            a(href="sale3.html") Страница акции (вариант1)
        li.list-group-item
            a(href="sale4.html") Страница акции (Подарок за покупку)
        li.list-group-item
            a(href="sale5.html") Страница акции (Кэшбек)
        li.list-group-item
            a(href="sale6.html") Страница акции (2+1)
        li.list-group-item
            a(href="sale7.html") Страница акции (Конкурс)
