// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin customize-before($bgcolor, $top, $left, $rigth, $bottom, $width, $heigth) {
  &::before {
    content: "";
    position: absolute;
    left: $left;
    top: $top;
    bottom: $bottom;
    width: $width;
    background-color: $bgcolor;
    height: $heigth;
  }
}

@mixin button-yellow(){
  border-radius: 10px;
  background-color: #f9d914;
  color: #775418;
}

@mixin select() {
  background-color: rgba(50,50,48,0);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  color: #fff;

  .list {
    background-color: rgba(50,50,48,0);
    width:100%;
  }

  .list .option.selected {
    background-color: #f9d914;
    color:#000;
  }

  .list .option:hover {
    background-color:  #212529;
  }
}

@mixin square-block() {
  display: flex;
  background-color: #e5ecf0;
  width: 122px;
  min-height: 122px;
  flex-direction: column;
  border-radius: 18px;

  &--big {
    width: 100%;
    min-height: 60vw;
  }

  @media (min-width: 450px) {
    &--big {
      width: 49%;
      min-height: 36vw;
      padding-bottom: 10px;
    }

  }

  @media (min-width: 576px) {
    &--big {
      width: 30%;
      min-height: 24vw
    }
  }
  @media (min-width: 991px) {
    &--big {
      width: 185px;
      min-height: 185px;
      padding-bottom: 0px;
    }
  }

  @media (min-width:1200px) {
    &--big {
      width: 220px;
      min-height: 220px;
    }
  }
}

