// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin customize-before($bgcolor, $top, $left, $rigth, $bottom, $width, $heigth) {
  &::before {
    content: "";
    position: absolute;
    left: $left;
    top: $top;
    bottom: $bottom;
    width: $width;
    background-color: $bgcolor;
    height: $heigth;
  }
}

@mixin button-yellow(){
  border-radius: 10px;
  background-color: #f9d914;
  color: #775418;
}

@mixin select() {
  background-color: rgba(50,50,48,0);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  color: #fff;

  .list {
    background-color: rgba(50,50,48,0);
    width:100%;
  }

  .list .option.selected {
    background-color: #f9d914;
    color:#000;
  }

  .list .option:hover {
    background-color:  #212529;
  }
}